*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background: #ffffff;
    padding-top: 10px;
    z-index: 999;
    height: 100px;
}
.frame_header{
    width: 1250px;
    margin: auto;
    display: flex;
}
.logo{
    height: 100px;
    width: 150px;
    display: flex;
    position: relative;
    cursor: pointer;
}
.logo img{
    width: 100px;
    position: absolute;
    left: 0;
    top: 15px;
}
.logo p{
    position: absolute;
    font-size: 15px;
    top: 60px;
    left: 15px;
    color: blue;
    font-weight: 800;
}
.header_content{
    width: 80%;
    margin: auto;
}
.header_content .top{
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
}
.top{
    display: flex;
    width: 100%;
}
.search{
    width: 2000px;
    height: 80%;
    display: flex;
    border: 1px solid #DDDDE3;
    border-radius: 8px;
    align-items: center;
    margin-top: 10px;
}
.search i{
    color: rgb(153 153 154);
}
.icon_search{
    width: 20px;
    height: 20px;
    margin: 0 0 0 15px;
}
.frame_search{
    border: 0px;
    width: 400px;
    padding: 0 8px;
    font-weight: 400;
    font-size: 14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 1px solid #DDDDE3;
    flex: 1;
    outline: none;
}
.frame_search::placeholder{
    color: #808089;
    font-size: 14px;
}
.button_search{
    cursor: pointer;
    border: 0px;
    width: 92px;
    height: 38px;
    padding: 4px;
    border-radius: 0 8px 8px 0;
    background: transparent;
    color: rgb(10, 104, 255);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.button_search:hover {
    background-color: rgba(10, 104, 255, 0.2);
}
.shortcut{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 48px;
    margin-top: 10px;
}
.shortcut a{
    text-decoration: none;
}
.sc_1{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    color: rgb(10, 104, 255);
}
.sc_1:hover {
    background-color: rgba(10, 104, 255, 0.2);
}
.sc_1 .icon{
    width: 24px;
    height: 24px;
    margin-right: 4px;
    border-radius: 50%;
    padding-top: 5px;
}
.sc_1 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    height: 20px;
    
}
.account {
    display: none;
    border: 1px solid rgb(239, 239, 239);
    background: rgb(255, 255, 255);
    width: 240px;
    z-index: 15;
    list-style: none;
    margin: 0px;
    padding: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 12px 0px;
    position: absolute;
    top: 35px;
    left: 0px;
    transform: translateX(-50%);
    border-radius: 8px;
}
.account a{
    text-decoration: none;
}
.account p{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 20px 16px;
    color: rgb(39, 39, 42);
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    text-decoration: none;
}
.sc_1:hover .account{
    display: block;
}
.account_1:hover {
    background-color: rgba(39, 39, 42, 0.12);
}

.sc_2{
    cursor: pointer;
    display: block;
    position: relative;
    width: 50px;
    border-radius: 10px;
    text-align: center;
}
.sc_2:hover {
    opacity: 1;
    background-color: rgba(0, 96, 255, 0.12);
}
.sc_2 .icon{
    width: 100%;
    height: 100%; 
    padding-top: 5px;
    font-size: 25px;
    color: blue;
}
.sc_2 span{
    background-color: #FF424F;
    color: white;
    padding: 0.5px 4px;
    border-radius: 8px;
    position: absolute;
    bottom: 25px;
    left: 35px;
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 150%;
}
.under-search{
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.under-search ul{
    list-style: none;
}
.under-search ul li{
    display: inline-block;
    padding: 10px 0 0 10px;
}
.under-search ul li a{
    text-decoration: none ;
    color: gray;
}
.address {
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: -80px;
}
.address i{
    color: #808089;
}
.address h4{
    padding: 0 5px 0 10px;
    color: #808089;
    font-weight: 500;
}
.address div{
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #27272A;
}
.return-policy{
    width: 100%;
    background: #FFE880;
    height: 40px;
    position: absolute;
    top:100px;
}
.return-policy a{
    text-decoration: none;
}
.return-policy .detail{
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.detail i,.day-return{
    color: blue;
    font-weight: bold;
    font-size: 18px;
}
.detail p{
    font-size: 18px;
    color: black;
}
