*{
    padding: 0;
    margin: 0;
}

html {
    background-color: #F5F5FA;
}

a{
    text-decoration: none;
    color: black;
}

.main{
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding-top: 16px;
    justify-content: space-between;
}

.sidebar{
    margin-top: 40px;
    width: 230px;
    max-height: 100vh;
    position: sticky;
    overflow-y: scroll;
    top: 16px;
    background-color: transparent;
    display: flex;
    padding-bottom: 117px;
    flex-direction: column;
    font-size: 14px;
    color: rgb(56, 56, 61);
    line-height: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.list-item{
    position: relative;
    display: flex;
    margin-bottom: 16px;
    padding: 12px 8px;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
}
.list-item a{
    text-decoration: none;
}

.list-item .title{
    margin-bottom: 8px;
    padding-left: 16px;
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}

.item{
    display: flex;
    padding: 7px 16px;
    align-items: center;
    border-radius: 8px;
}

.item>img{
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.item:hover {
    background-color: rgba(185, 177, 177, 0.336);
}

.container{
    width: 1138px;
}

.banner-slide{
    margin-top: 43px;
    padding: 16px;
    background-color: white;
    border-radius: 10px;
}

.slider{
    width: 100%;
    position: relative;
    height: 360px;
    overflow: hidden;
}

.slider>.list{
    display: flex;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: 1s;
}

.item-slider{
    display: flex;
}

.item-slider>div>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    padding: 0px 8px;
}


.slider>.buttons{
    position: absolute;
    top: 45%;
    left: 2%;
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.slider>.buttons>button{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    color: blue;
    border: none;
    font-weight: bold;
}

.banner-slide>.dots{
    margin-top: 9px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-slide>.dots>li{
    list-style: none;
    width: 18px;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.205);
    margin: 3px;
    border-radius: 4px;
    transition: 1s;
}

.banner-slide>.dots>.active{
    width: 30px;
    background-color: blue;
}

.QuickLink{
    padding: 13px;
    background-color: white;
    margin-top: 16px;
    border-radius: 10px;
}

.listLink{
    display: flex;
    list-style: none;
    justify-items: center;
}

.link-item{
    padding: 24px;
}

.link-item>a{
    display: flex;
    flex-direction: column;
    width: 110px;
    align-items: center;
    -webkit-box-align: center;
}

.link-item>a>.icon{
    border: 1px solid rgba(150, 150, 150, 0.24);
    border-radius: 35%;
}

.link-item>a>.icon>img{
    width: 60px;
}

.link-item>a>.title{
    margin-top: 7px;
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    line-height: 150%;
}

.products{
    padding: 15px;
    margin-top: 16px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.header-products{
    display: flex;
    font-size: 16px;
}

.header-products>.title>h3{
    padding-bottom: 15px;
}

.header-products>.title>img{
    width: 200px;
}

.tab-product{
    display: flex;
}
.tab-product>div{
    padding: 5px 16px;
    border: 1px solid rgba(100, 98, 98, 0.205);
    border-radius: 15px;
    height: 30px;
    align-items: center;
    margin-right: 10px;
}

.tab-product>div:hover{
    cursor: pointer;
    border-color: blue;
}

.products>.tab-product>.active{
    border: 1px solid blue;
    background-color: rgb(206, 201, 201);
}
.products>.tab-product>.active a{
    color: blue;
}
.products>.tab-product>.active:hover{
    background-color: rgba(0, 0, 255, 0.164);
}

.products>.list{
    display: flex;
    transition: 1s;
}


.list-products{
    display: flex;
    padding: 10px;
}

.product{
    border: 1px solid rgba(128, 128, 128, 0.212);
    border-radius: 10px;
    width: 100%;
    margin: 7px;
}

.product>a>.thumbnail>img{
    width: 165px;
    padding-left: 6px;
}

.content-product{
    padding: 10px;
}

.content-product>.info>.wrapper>.name-wrapper >h3{
    font-size: 13px;
    line-height: 150%;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.699);
}

.ship{
    width: 100%;
    display: flex;
    margin-top: 10px;
    border-top: 1px solid grey;
    padding-top: 5px;
}

.ship img{
    width: 30px;
}

.ship p{
    padding-top: 5px;
    color: gray;
    font-size: 12px;
    padding-left: 8px;
}



.content_banner{
    margin-top: 15px;
    padding: 16px;
    border-radius: 8px;
    background: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    align-self: stretch;
}
.img_content{
    border-radius: 12px;
    border: 1px solid #0000000D;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    aspect-ratio: 1 / 1;
}
.san_pham_hot{
    width: 100%;
    height: 100%;
    position: relative;
}
.san_pham_hot img{
    width: 100%;
    height: 100%;
}

.brand{
    margin-top: 16px;
    width: 100%;
    padding: 16px;
    background: linear-gradient(rgba(255, 255, 255, 0) 22.49%, 
                rgb(255, 255, 255) 73.49%), 
                linear-gradient(264.03deg, 
                rgb(220, 229, 251) -10.27%, 
                rgb(234, 236, 255) 35.65%, 
                rgb(213, 236, 253) 110.66%);
}

.brand>.brand-title{
    font-size: 18px;
    line-height: 150%;
    padding-bottom: 12px;
}

.list-brand{
    display: flex;
    justify-content: space-between;
}

.list-brand>.product-brand{
    width: 171px;
    border: 1px solid rgba(128, 128, 128, 0.11);
    border-radius: 10px;
}

.list-brand>.product-brand>a>img{
    width: 100%;
    border-radius: 10px;
}

.suggest{
    margin-top: 16px;
    background: #F5F5FA;
    border-radius: 8px;
    

}
.suggest>.header-suggest{
    width: 100%;
    /* transition: all 1s ease 0s; */
    padding-bottom: 8px;
    border-radius: 10px;
    background-color: white;
    position: sticky;
    top:0;
}

.suggest>.header-suggest h2{
    padding: 12px 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: start;
}

.suggest>.header-suggest>.menu-tab{
    display: flex;
   
}
.suggest>.header-suggest>.menu-tab>.first{
    background-color: rgba(66, 117, 194, 0.137);
    border-bottom: 1px solid blue;
}

.suggest>.header-suggest>.menu-tab>.tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 50px;
}

.suggest>.header-suggest>.menu-tab>.tab>img{
    width: 45px;
}

.suggest>.header-suggest>.menu-tab>.tab>.tab-text{
    font-size: 14px;
    line-height: 150%;
    padding-top: 4px;
    text-align: center;
    color: rgba(14, 13, 13, 0.459);
}

.suggest>.header-suggest>.menu-tab>.tab:hover{
    background-color: rgba(100, 98, 98, 0.205);
    cursor: pointer;
}

.suggest>.home_tab_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5FA;
    padding: 0px 0px 16px;
    border-radius: 0px 0px 4px 4px;
}

.suggest>.home_tab_content_more{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5FA;
    padding: 0px 0px 16px;
    border-radius: 0px 0px 4px 4px;
    display: none;
}

.button{
    text-align: center;
}

.button>.view_more{
    cursor: pointer;
    display: inline-block;
    width: 240px;
    margin-top: 12px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid blue;
    color: blue;
    font-size: 16px;
    line-height: 150%;

}

.info h3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    white-space: break-spaces;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: black;
    margin: 0px;
    word-break: break-word;
    white-space: break-spaces;
}

.rating{
    display: flex;
    margin-top: 5px;
}


.price_discount{
    text-align: left;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: rgb(39, 39, 42);
    margin: 0px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.discount{
    display: inline-block;
    height: 18px;
    margin-left: 4px;
    padding: 0px 0px 0px 8px;
    background: rgb(245, 245, 250);
    border-radius: 1000px;
    color: rgb(39, 39, 42);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    .slider{
        height: 200px;
    }
}