*{
    padding: 0;
    margin: 0;
}

html {
    background-color: #F5F5FA;
}

a{
    text-decoration: none;
    color: black;
}

.main{
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding-top: 16px;
    justify-content: space-between;
}

.sidebar{
    margin-top: 40px;
    width: 230px;
    max-height: 100vh;
    position: sticky;
    overflow-y: scroll;
    top: 16px;
    background-color: transparent;
    display: flex;
    padding-bottom: 117px;
    flex-direction: column;
    font-size: 14px;
    color: rgb(56, 56, 61);
    line-height: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.list-item{
    position: relative;
    display: flex;
    margin-bottom: 16px;
    padding: 12px 8px;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
}
.list-item a{
    text-decoration: none;
}

.list-item .title{
    margin-bottom: 8px;
    padding-left: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}

.item{
    display: flex;
    padding: 7px 16px;
    align-items: center;
    border-radius: 8px;
}

.item img{
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.item:hover {
    background-color: rgba(185, 177, 177, 0.336);
}

.container{
    width: 1138px;
}

.QuickLink{
    padding: 13px;
    background-color: white;
    margin-top: 43px;
    border-radius: 10px;
}

.listLink{
    display: flex;
    list-style: none;
    justify-items: center;
}

.link-item{
    padding: 24px;
}

.link-item>a{
    display: flex;
    flex-direction: column;
    width: 110px;
    align-items: center;
    -webkit-box-align: center;
}

.link-item>a>.icon{
    border: 1px solid rgba(150, 150, 150, 0.24);
    border-radius: 35%;
}

.link-item>a>.icon>img{
    width: 60px;
}

.link-item>a>.title{
    margin-top: 7px;
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    line-height: 150%;
}

.products{
    padding: 15px;
    margin-top: 32px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.header-products{
    display: flex;
    font-size: 16px;
}


.header-products>.title>img{
    width: 200px;
}

.tab-product{
    display: flex;
}
.tab-product>.content{
    padding: 5px 16px;
    border: 1px solid grey;
    border-radius: 15px;
    height: 30px;
    align-items: center;
    margin-right: 10px;
}

.tab-product>.content:hover{
    cursor: pointer;
    background-color: grey;
}

.list-products{
    display: flex;
    padding: 5px;
}

.product{
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
    margin: 7px;
}

.product>a>.thumbnail>img{
    width: 170px;
}

.content-product > .info > .wrapper > .name-wrapper >h3{
    font-size: 12px;
    line-height: 150%;
    word-break: break-word;
}