/* .right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  } */

  .right .flcp_container {
    margin-right: 20px; /* Điều chỉnh khoảng cách từ bên phải của màn hình */
  }
/*!sc*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*tha*/
.elPTRG {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 260px);
    padding-top: 20px;
    padding-bottom: 80px;
}
.hfMLFX {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.czPKDT {
    width: 900px;
    margin-bottom: 12px;
    display: grid;
    gap: 12px;
}
.elPTRG .left {
    width: 900px;
    margin-right: 20px;
}.bVA-DDf {
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
}
.guqnAw {
    border-radius: 4px;
}
.dMMxLl {
    color: rgb(56, 56, 61);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
}
.eEHLZh {
    position: relative;
    width: 497px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.eEHLZh .shipping-method-list {
    background: rgb(240, 248, 255);
    border: 1px solid rgb(194, 225, 255);
    border-radius: 10px;
    padding: 16px;
    display: grid;
    row-gap: 12px;
    z-index: 0;
}
.gsXQMn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsXQMn input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.gsXQMn input[type="radio"]:checked + .radio-fake {
    border-color: rgb(11, 116, 229);
}
.gsXQMn input[type="radio"]:checked + .radio-fake {
    border-color: rgb(11, 116, 229);
}
.gsXQMn .label {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.cbdokS {
    cursor: pointer;
    padding: 4px 0px;
}
.iSXbdM {
    display: flex;
    -webkit-box-align: center;
}
.iSXbdM .method-text {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
}
.iSXbdM .freeship-badge {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 171, 86);
    padding: 0px 4px;
    background-color: rgb(255, 255, 255);
    margin-left: 4px;
    border-radius: 4px;
}
.iSXbdM {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.cbdokS {
    cursor: pointer;
    padding: 4px 0px;
}
.gsXQMn .label {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsXQMn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eEHLZh .shipping-method-list {
    background: rgb(240, 248, 255);
    border: 1px solid rgb(194, 225, 255);
    border-radius: 10px;
    padding: 16px;
    display: grid;
    row-gap: 12px;
    z-index: 0;
}
.eEHLZh .methods-arrow {
    z-index: 1;
    position: absolute;
    width: 32px;
    height: 12px;
    left: 50%;
    bottom: 18px;
    transform: translate(-50%, 100%);
}
.eEHLZh {
    position: relative;
    width: 497px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.cjoJkw {
    display: grid;
    gap: 20px;
}
.fyhLrw {
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgb(221, 221, 227);
    margin-top: 20px;
    padding: 20px 16px 16px;
    position: relative;
    display: flex;
    z-index: 0;
}
.giCRPo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(7, 148, 73);
    padding: 0px 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 12px;
    transform: translateY(-50%);
}
.giCRPo .package-title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8px;
}
img {
    max-width: 100%;
}

img {
    border-style: none;
}
.giCRPo .package-title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8px;
}
.giCRPo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(7, 148, 73);
    padding: 0px 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 12px;
    transform: translateY(-50%);
}
.fyhLrw .left-content {
    margin-right: 46px;
    max-width: 482px;
}
.fyhLrw .left-content .package-summary {
    margin-top: 8px;
    width: 482px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.iSXbdM {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.elemet.style {
    font-size: 12px;
    line-height: 16px;
}
.fyhLrw .left-content .package-summary .method-text {
    text-transform: uppercase;
}
.iSXbdM .method-text {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
}
.iSXbdM {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.bXgMqd {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.bXgMqd .original-fee {
    color: rgb(128, 128, 137);
    text-decoration: line-through;
    margin-right: 4px;
}
.bXgMqd .current-fee {
    color: rgb(0, 171, 86);
    font-weight: 500;
}
.bXgMqd .info-icon {
    cursor: pointer;
    margin-left: 2px;
}
.bXgMqd .info-icon {
    cursor: pointer;
    margin-left: 2px;
}
.bXgMqd {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.fyhLrw .left-content .package-summary {
    margin-top: 8px;
    width: 482px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.HEIyE {
    display: flex;
    padding: 12px 0px;
    -webkit-box-align: center;
    align-items: center;
}
.HEIyE .item-icon {
    margin-right: 8px;
    flex-shrink: 0;
    max-height: 48px;
}
.fWjUGo {
    object-fit: contain;
    display: block;
}

img {
    max-width: 100%;
}

img {
    border-style: none;
}
.HEIyE .item-icon {
    margin-right: 8px;
    flex-shrink: 0;
    max-height: 48px;
}
.HEIyE .item-info {
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
    flex: 1 1 0%;
}
.HEIyE .item-info_first-line {
    display: flex;
    margin-bottom: 4px;
    padding-right: 20px;
}
.HEIyE .item-info_product-name {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.HEIyE .item-info_first-line {
    display: flex;
    margin-bottom: 4px;
    padding-right: 20px;
}
.HEIyE .item-info_second-line {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.HEIyE .item-info_price {
    color: rgb(56, 56, 61);
    font-weight: 500;
}
.HEIyE .item-info {
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
    flex: 1 1 0%;
}
.HEIyE {
    display: flex;
    padding: 12px 0px;
    -webkit-box-align: center;
    align-items: center;
}
.fyhLrw .left-content {
    margin-right: 46px;
    max-width: 482px;
}
.fyhLrw .right-content {
    flex: 1 1 0%;
}
.isrDZd {
    display: flex;
    width: 100%;
    align-items: flex-start;
    background: rgb(245, 245, 250);
    border-radius: 8px;
    padding: 8px 16px;
}
.isrDZd .fulfillment-icon {
    flex-shrink: 0;
    margin-right: 8px;
}
.isrDZd .fulfillment-icon {
    flex-shrink: 0;
    margin-right: 8px;
}
.isrDZd .fulfillment-text {
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
}
.isrDZd .fulfillment-text--warning {
    font-style: italic;
}
.isrDZd .fulfillment-text {
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
}.isrDZd {
    display: flex;
    width: 100%;
    align-items: flex-start;
    background: rgb(245, 245, 250);
    border-radius: 8px;
    padding: 8px 16px;
}
.fttPna {
    margin-top: 20px;
}
.fttPna .seller-coupons-heading {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.fttPna .seller-coupons-heading_title {
    font-size: 14px;
    color: rgb(56, 56, 61);
    display: inline-block;
    margin-right: 10px;
}
.fttPna .seller-coupons-heading_hint {
    font-size: 12px;
    color: rgb(128, 128, 137);
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}
.fttPna .seller-coupons-heading_hint {
    font-size: 12px;
    color: rgb(128, 128, 137);
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}
.bVA-DDf {
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
}
.eqwnfr.eqwnfr {
    margin-bottom: 16px;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
}
.dMMxLl {
    color: rgb(56, 56, 61);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
}
.gsXQMn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsXQMn input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.gsXQMn input[type="radio"]:checked + .radio-fake {
    border-color: rgb(11, 116, 229);
}
.gsXQMn .radio-fake {
    width: 18px;
    height: 18px;
    border: 1px solid rgb(196, 196, 207);
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
    cursor: pointer;
}
.gsXQMn input[type="radio"]:checked + .radio-fake::before {
    transform: scale(1);
}
.gsXQMn .radio-fake::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(11, 116, 229);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}
.gsXQMn .label {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsYpJq {
    cursor: pointer;
    height: 64px;
}
.eydcWx {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.eydcWx .method-icon {
    margin-right: 12px;
    object-fit: contain;
}
.eydcWx .method-content {
    margin-right: 12px;
}
.eydcWx .method-content_title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eydcWx .method-content_title > span {
    margin-right: 12px;
    white-space: nowrap;
}
.eydcWx .method-content_sub-title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
}
.gsXQMn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsXQMn input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.gsXQMn .radio-fake {
    width: 18px;
    height: 18px;
    border: 1px solid rgb(196, 196, 207);
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
    cursor: pointer;
}
.gsXQMn .radio-fake::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(11, 116, 229);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}
.gsXQMn .label {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
}
.gsYpJq {
    cursor: pointer;
    height: 64px;
}
.eydcWx {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.eydcWx .method-icon {
    margin-right: 12px;
    object-fit: contain;
}
.eydcWx .method-content {
    margin-right: 12px;
}
.eydcWx .method-content_title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eydcWx .method-content_title > span {
    margin-right: 12px;
    white-space: nowrap;
}
.eydcWx .method-content_title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eydcWx .method-content_sub-title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
}
.gsXQMn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsXQMn input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.gsXQMn .radio-fake {
    width: 18px;
    height: 18px;
    border: 1px solid rgb(196, 196, 207);
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
    cursor: pointer;
}
.gsXQMn .radio-fake::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(11, 116, 229);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}
.gsXQMn .label {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsYpJq {
    cursor: pointer;
    height: 64px;
}
.eydcWx {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.eydcWx .method-icon {
    margin-right: 12px;
    object-fit: contain;
}
.eydcWx .method-content {
    margin-right: 12px;
}
.eydcWx .method-content_title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eydcWx .method-content_title > span {
    margin-right: 12px;
    white-space: nowrap;
}
.eydcWx .method-content_sub-title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
}
.gsXQMn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsXQMn input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.gsXQMn .radio-fake {
    width: 18px;
    height: 18px;
    border: 1px solid rgb(196, 196, 207);
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
    cursor: pointer;
}
.gsXQMn .radio-fake::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(11, 116, 229);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}
.gsXQMn .label {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsYpJq {
    cursor: pointer;
    height: 64px;
}
.eydcWx {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.eydcWx .method-icon {
    margin-right: 12px;
    object-fit: contain;
}
.eydcWx .method-content {
    margin-right: 12px;
}
.eydcWx .method-content_title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eydcWx .method-content_title > span {
    margin-right: 12px;
    white-space: nowrap;
}
.eydcWx .method-content_sub-title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
}
.gsXQMn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsXQMn input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.gsXQMn .radio-fake {
    width: 18px;
    height: 18px;
    border: 1px solid rgb(196, 196, 207);
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
    cursor: pointer;
}
.gsXQMn .radio-fake::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(11, 116, 229);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}
.gsXQMn .radio-fake {
    width: 18px;
    height: 18px;
    border: 1px solid rgb(196, 196, 207);
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
    cursor: pointer;
}
.gsXQMn .label {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.XSYhD {
    cursor: pointer;
    height: 64px;
    filter: grayscale(1);
    opacity: 0.5;
}
.eydcWx .method-icon {
    margin-right: 12px;
    object-fit: contain;
}
.eydcWx .method-content {
    margin-right: 12px;
}
.eydcWx .method-content_title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eydcWx .method-content_title > span {
    margin-right: 12px;
    white-space: nowrap;
}
.eydcWx .method-content_title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eydcWx .method-content_sub-title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
}
.gsXQMn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsXQMn input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.gsXQMn .radio-fake {
    width: 18px;
    height: 18px;
    border: 1px solid rgb(196, 196, 207);
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
    cursor: pointer;
}
.gsXQMn .radio-fake::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(11, 116, 229);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}
.gsXQMn .label {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.XSYhD {
    cursor: pointer;
    height: 64px;
    filter: grayscale(1);
    opacity: 0.5;
}
.eydcWx {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.eydcWx .method-icon {
    margin-right: 12px;
    object-fit: contain;
}
.eydcWx .method-content {
    margin-right: 12px;
}.eydcWx .method-content_title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eydcWx .method-content_title > span {
    margin-right: 12px;
    white-space: nowrap;
}
.eydcWx .method-content_sub-title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
}
.gsXQMn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.gsXQMn input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.gsXQMn .radio-fake {
    width: 18px;
    height: 18px;
    border: 1px solid rgb(196, 196, 207);
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
    cursor: pointer;
}
.gsXQMn .radio-fake::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(11, 116, 229);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}
.gsXQMn .label {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.XSYhD {
    cursor: pointer;
    height: 64px;
    filter: grayscale(1);
    opacity: 0.5;
}
.eydcWx {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.eydcWx .method-icon {
    margin-right: 12px;
    object-fit: contain;
}
.eydcWx .method-content {
    margin-right: 12px;
}
.eydcWx .method-content_title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eydcWx .method-content_title > span {
    margin-right: 12px;
    white-space: nowrap;
}
.eydcWx .method-content_sub-title {
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 128, 137);
}
.elPTRG .right {
    flex: 1 1 0%;
}.cTGPxG.cTGPxG {
    border-radius: 4px;
    margin-bottom: 12px;
}
.bVA-DDf {
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
}
.cTGPxG {
    font-size: 14px;
    line-height: 20px;
}
.cTGPxG .block-header{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
}
.cTGPxG .block-header_title {
    color: rgb(128, 128, 137);
    font-weight: normal;
    margin: 0px;
}
.cTGPxG .customer_info {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(56, 56, 61);
    margin-bottom: 2px;
    font-weight: 600;
}
.cTGPxG .customer_info p {
    margin: 0px;
    word-break: break-word;
}
.cTGPxG .customer_info_name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.cTGPxG .customer_info i {
    display: block;
    width: 1px;
    height: 20px;
    background-color: rgb(235, 235, 240);
    margin: 0px 8px;
}
.cTGPxG .customer_info p {
    margin: 0px;
    word-break: break-word;
}
.cTGPxG .addressTT {
    color: rgb(128, 128, 137);
    font-weight: normal;
}
.cTGPxG .addressTT_type--home {
    color: rgb(0, 171, 86);
    background-color: rgb(239, 255, 244);
}
.cKJPhS.cKJPhS {
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 0px;
}.cKJPhS .block-header {
    font-size: 14px;
    line-height: 20px;
    padding: 16px;
    border-bottom: 1px solid rgb(235, 235, 240);
}.bSkntM {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.cKJPhS .block-header_title {
    font-weight: 500;
    color: rgb(56, 56, 61);
    margin: 0px;
}
.cKJPhS .block-header_sub-title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.cKJPhS .block-header_sub-title .sub-title-text {
    color: rgb(128, 128, 137);
    font-weight: 400;
    margin: 0px 4px 0px 0px;
}
.cKJPhS .block-header_sub-title .sub-title-link {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(11, 116, 229);
    font-weight: 400;
    margin: 0px;
    cursor: pointer;
}.cKJPhS .block-header_sub-title .sub-title-link_arrow {
    transform: rotate(90deg);
    transition-duration: 0.5s;
}
.cIdCpS {
    display: block;
    transition: max-height 0.5s ease-in-out 0s;
    overflow: hidden;
    max-height: 0px;
}
.cIdCpS .list-container {
    border-bottom: 1px solid rgb(235, 235, 240);
    padding: 12px 16px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
    display: grid;
    gap: 4px;
}
.bSkntM {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.cIdCpS .item-info {
    margin-right: 8px;
    display: flex;
    align-items: flex-start;
}
.cIdCpS .item-info_qty {
    width: 30px;
    margin-right: 8px;
    font-weight: 500;
    flex-shrink: 0;
}
.cIdCpS .item-info_name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-width: 156px;
    font-weight: 400;
}
.cIdCpS .item-price {
    font-weight: 500;
    flex-shrink: 0;
}
.eWlcNY {
    padding: 8px 16px;
    display: grid;
    gap: 4px;
    font-size: 14px;
    line-height: 20px;
}
.bSkntM {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.eWlcNY .summary-label {
    color: rgb(128, 128, 137);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eWlcNY .summary-value {
    color: rgb(56, 56, 61);
}
.bSkntM {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.eWlcNY .summary-label {
    color: rgb(128, 128, 137);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eWlcNY .summary-label .info-icon {
    cursor: pointer;
    margin-left: 2px;
}
.eWlcNY .summary-value--positive {
    color: rgb(0, 171, 86);
}
.jFlDlb {
    width: 100%;
    height: 1px;
    background-color: rgb(235, 235, 240);
    margin: 0px auto;
}
.cKJPhS .order-total {
    padding: 8px 16px;
}
.bSkntM {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.cKJPhS .order-total_label {
    font-size: 14px;
    line-height: 20px;
    color: rgb(56, 56, 61);
}
.cKJPhS .order-total_value {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cKJPhS .order-total_total {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: rgb(255, 66, 78);
}
.cKJPhS .order-total_additional-text {
    font-size: 12px;
    line-height: 16px;
    color: rgb(128, 128, 137);
}
.cKJPhS .freeship-plus {
    padding: 0px 16px 12px;
    font-weight: 600;
}
.cKJPhS .freeship-plus img {
    margin-right: 5px;
}
.bSkntM {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.hHWBHK.hHWBHK {
    margin: 0px 16px 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 66, 78);
    border: none;
}
.hksmFU {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 44px;
    background-color: rgb(255, 255, 255);
    outline: 0px;
    cursor: pointer;
    border: 1px solid rgb(11, 116, 229);
    color: rgb(11, 116, 229);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}

