main{
    width: 100%;
    height: 3600px;
    background-color: rgb(0, 25, 125);
}

.frame-main{
    width: 1200px;
    margin: 40px auto;
    border: 1px solid red;

}
.img-nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
.frame-main .img-nav img{
    width: 95%;
}
.banner-slide{
    padding: 16px;
    background-color: rgb(0, 25, 125);
    border-radius: 10px;
}

.slider{
    width: 100%;
    position: relative;
    height: 480px;
    overflow: hidden;
}

.slider>.list{
    display: flex;
    align-items: center;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: 1s;
}

.item-slider{
   margin: 0 20px;
}

.item-slider>div>a>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 25px;
    padding: 0px 8px;
}


.slider>.buttons{
    position: absolute;
    top: 45%;
    left: 2%;
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.slider>.buttons>button{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    color: blue;
    border: none;
    font-weight: bold;
}

.banner-slide>.dots{
    margin: 16px auto auto;
    width: 250px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    border-radius: 20px;
}

.banner-slide>.dots>li{
    list-style: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.205);
    margin: 3px;
    transition: 1s;
}

.banner-slide>.dots>.active{
    width: 100px;
    border-radius: 10px;
    transition: 0s;
    background-color: white;
}

.nav1{
    width: 100%;
    margin: 20px 0;
}
.nav2{
    width: 85%;
    margin: 30px auto;
}
 .nav-lists{
    list-style: none;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.nav-lists li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-lists li a:hover img{
    opacity: 1;
}
.nav-lists li a:hover p{
    opacity: 1;
}
.nav-lists img{
    width: 150px;
    height: 150px;
    opacity: 0.5;
}
.nav-lists p{
    color:white;
    font-size: 18px;
    opacity: 0.5;
}

.banner-slide1{
    margin: 20px 0;
    padding: 16px;
    background-color: rgb(0, 25, 125);
    border-radius: 10px;
}

.slider1{
    width: 100%;
    position: relative;
    height: 140px;
    overflow:  hidden;
}

.slider1>.list1{
    display: flex;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: 1s;
}

.item-slider1{
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    height: 140px;
}
.item-slider1>div>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-slider1>div{
    width: 110px;
}
.item-slider1 .active1{
    border-bottom: 5px solid white;
    border-radius: 5px;
}

.item-slider1>div>a>img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 25px;
    padding: 0px 8px;
}
.item-slider1>div>a>p{
    color: white;
    font-size: 20px;
    text-align: center;
}

.slider1>.buttons1{
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider1>.buttons1>button{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
    color: black;
    border: none;
    font-weight: bold;
}
.banner-slide1>.dots1>li{
    list-style: none;
}
.vouchers{
    width: 100%;
}
.voucher{
    width: 95%;
    height: 880px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.voucher .voucher-box{
    width: 49%;
    height: 130px;
    position: relative;
}

.voucher-box .voucher-detail{
    width: 100%;
    height: 100%;
    display: flex;
}
.pd-voucher{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px  ;
}

.pd-voucher img{
    width: 60px;
    height: 60px;
}
.pd-voucher p{
    font-size: 12px;
    color: gray;
}

.pd-voucher-detail{
    width: 100%;
    background: white;
    border-radius:  10px 10px;
}
.pd-voucher-detail>div{
    width: 95%;
    margin: 10px auto;
}
.pd-voucher-detail>div .voucher-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.voucher-head i{
    color:blue;
    cursor: pointer;
}
.voucher-foot{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.voucher-foot .save-button{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(1, 127, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.voucher-i{
    width: 400px;
    height: 260px;
    border-radius: 10px;
    background: white;
    position: absolute;
    top:-260px;
    right: 0;
    display: none;
}
.voucher-head>div:hover .voucher-i{
   display: block;
}
.voucher-i .box-vc-i{
    width: 90%;
    margin: 20px 30px;
}
.box-vc-i .code{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.code p:first-child{
    margin-right: 80px;
    color: gray;
}
.code i{
    color: blue;
    font-size: 15px;
    cursor: pointer;
}

.box-vc-i .date{
    width: 50%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.date p:first-child{
    color: gray;
}

.box-vc-i .need{
    width: 90%;

}
.need ul{
    margin: 10px 0 0 15px;
}
.need ul li{
    padding: 5px;
}

.box-conection{
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -10px;
}

.top-deal-forsure{
    width: 100%;
}
.top-deal-forsure .td-box{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product{
    border-radius: 10px;
    width: 280px;
    height: 448px;
    margin-bottom: 10px;
    background: white;
}

.product>a>.thumbnail>img{
    width: 280px;
    border-radius: 10px;
}
.rating{
    width: 62%;
    display: flex;
}
.content-product{
    padding: 0 10px;
}

.content-product>.info>.wrapper>.name-wrapper >h3{
    font-size: 16px;
    line-height: 150%;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.699);
}